<h1>Lista de timaos</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Timao</th>
        </tr>
    </thead>
    <tbody>
        <% timaos.forEach(timao=> { %>
            <tr>
                <td>
                    <%= timao.id %>
                </td>
                <td>
                    <%= timao.nome %>
                </td>
                <td>
                    <a href="/timaos/<%= timao.id %>" class="btn btn-primary">View</a>
                    <a href="/timaos/<%= timao.id %>/edit" class="btn btn-warning">Edit</a>
                    <form action="/timaos/<%= timao.id %>?_method=DELETE" method="POST"
                        style="display: inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>